/*----------BASIC PAGE STYLES AND STRUCTURE-----------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #3d4252;
  background-color: #ffffff;
}

.dashboard{
  max-width: 1350px;
  min-width: 320px;
  background: #fff;
  margin: 0 auto;
  height: 100%;
}

p {
  line-height: 1.5em;
  text-align: left;
  padding: 0;
}

a {
  text-decoration: none;
  color: #7377bf;
}

ul  {
  list-style-type: none;
  display: flex;
}

header {
  z-index: 0;
  background-color: #3d4252;
}

h1 {
  font-weight: 300;
  margin-top: 20px;
  font-size: 1.75em;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
}

.margin {
  margin-top: 35px;
}

/*-------------IMAGE  STYLES ---------*/

.avatars-1 {
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatars-2 {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  }
/*-------------NAVIGATION STYLES ---------*/

nav {
  background-color: #666f89;
}

nav a {
 text-decoration: none;
}
li {
  padding: 20px;
}
.icon-menu ul {
  display: flex;
  justify-content: center;
}

.icon-menu li:hover {
  fill: #ffffff;
  border-bottom: 5px solid #81c98f;
}

.dashboard-icons {
  fill: #cacbd5;
  height:45px;
}

.dashboard-icons:hover {
  fill: #ffffff;
}
/*-------------MODAL POP-UP STYLES ---------*/

#modal-content {
  display:inline-block;
  font-weight: 300;
  background-color: #d55e2d;
  border-radius: 6px;
  color: #ffffff;
  margin: 30px 30px;
  padding:  5px 20px;
  height: auto;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-message {
  display:block;
    background-color: #d55e2d;
    padding: 20px;
    margin: 100px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 6px;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
}

.close2{
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 130px;
  margin-top: 5px;
}

.close:hover,
.close:focus,
.close2:hover,
.close:focus {
    color: #3d4252;
    text-decoration: none;
    cursor: pointer;
}


/*-------------DASHBOARD HEADER STYLES ---------*/

.dashboard-left{
  display: flex;
}

.dashboard-right{
  display:flex;
}

.badge {
  position: relative;
  /* margin-bottom: 20px; */
  border-top: 1pt solid white;
}

.badge p {
  color: #ffffff;
  margin-right: 20px
}

.not-badge {
  margin-top: 40px;
  margin-right: 20px;
}

.notification-icon {
  position: absolute;
  top: 35px;
  right: 212px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-head {
  padding: 5px 20px;
  color: #fff;
  font-size: 14px;
}



/*-------------LAYOUT  STYLES ---------*/

.cards {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 30px;
}


.column-left,
.column-right {
  width: 100%;
}

.column-left {
border-right: none;
border-bottom: none;
}

.column-right{
border-bottom: none;
}

.member-info {
  padding-top: 20px;
  border-bottom: 1px solid #808080;
  width: 100%;
}

.member-info:last-of-type {
  border-bottom: none;
}

.member-text-inside{
  display: flex;
  justify-content: space-between;
}

.member-text {
  font-weight: 400;
  color: #3d4252;
}

.settings-text {
  display: inline-block;
  font-weight: 400;
  color: #3d4252;
  margin-left: 20px;
}

.email {
  font-size: .85em;
  font-weight: 400;
  color: #d55e2d;
}

.time {
  font-size: .85em;
  font-weight: 400;
  color: #3d4252;
}

.date {
  float: right;
  font-weight: 400;
  color: #3d4252;
}

.arrow{
  float: right;
  font-size: 20px;
  font-weight: 400;
  color: #d55e2d;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.title {
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  height: 60px;
  color: #3d4252;
  text-align: center;
}


.searchbox  {
  position:relative;
  height: 80px;
  background-color: #f8f8f8;
  border-bottom: 1pt solid gray;
  border-top: 1pt solid gray;
  width: 100%;
}

.searchbox input {
  font-size: 18px;
  color: #3d4252;
  width: 90%;
  border: 1pt solid gray;
  border-radius: 5px;
  padding: 0 20px;
  height: 50px;
  margin-left: 5%;
  margin-top: 15px;
}

.searchbox .fa-search {
  position: absolute;
  top:30px;
    right:60px;
  color: #bababb;
}

.traffic {
  position: relative;
  border: none;
  padding-top: 50px;
}

/*-------------DASHBOARD NAV STYLES ---------*/

.traffic ul li {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px;
margin: 0;
}

.traffic ul {
  position: absolute;
  top: 20px;
  right: 20px;
}

.traffic ul li:hover {
  background-color: #3d4252;
  border-radius: 12px;
  color: #ffffff;
}

.focus {
  background-color: #3d4252;
  border-radius: 12px;
  color: #ffffff;
}

.social-stats {
  width: 100%;
  padding: 20px;
  border-top: 1px solid gray;
}

.twitter,
.facebook,
.googleplus {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.social-text {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-top: 25px;
}

.sm-cards {
  border: 1px solid gray;
  border-radius: 6px;
  height: 100%;
  background-color: #f8f8f8;
  margin: 20px;
  padding: 20px;
}

.social-icons {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #3D4252;
  border-radius: 50%;
  margin: 15px 0 15px 15px;
  padding: 15px;
}

.social-icons svg {
  width: 60%;
  height:60%;
  z-index: 1;
  margin-top: 15px;
  fill: white;
}

.sm-header {
  font-weight: 700;
  font-size: 16px;
  color: #d55e2d;
}

.numbers {
  display:inline;
  font-size: 50px;
  color: #666f89;
}


/*------------------MESSAGE FORM-------------*/

.user-search {
  width: 90%;
  border: 1px solid #3d4252;
  border-radius: 6px;
  height: 60px;
  background-color: #f8f8f8;
  margin: 20px 20px 0 20px;
  padding-left: 10px;
}

input[placeholder="Message for User"] {
  padding-bottom: 50px;
}

.user-message {
  width: 90%;
  border: 1px solid #3d4252;
  border-radius: 6px;
  height: 100px;
  background-color: #f8f8f8;
  margin: 20px 20px 15px 20px;
  padding-left: 10px;
  padding-top: 15px;
}

button[type="submit"]{
  width: 90%;
  border: 1px solid #d55e2d;
  border-radius: 6px;
  height: 60px;
  background-color: #d55e2d;
  margin: 0 20px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/*---------SETTINGS  CARD CONTENT STYLES----------*/

select {
  width: 93%;
  border: 1px solid gray;
  border-radius: 6px;
  height: 60px;
  background-color: #f8f8f8;
  margin: 20px;
  }

#save-button {
    width: 45%;
    border: 1px solid #d55e2d;
    border-radius: 6px;
    height: 60px;
    background-color: #d55e2d;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

#cancel-button{
  width: 45%;
  border: 1px solid #3d4252;
  border-radius: 6px;
  height: 60px;
  background-color: #3d4252;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.buttons {
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
}


/*---------TOGGLE SWITCH----------*/

.switch {
position: relative;
display: inline-flex;
margin-left:60px;
top: 15px;
width: 100px;
height: 34px;
}

.public-settings {
  margin-bottom: 10px;
}

.switch input {display:none;}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #cacbd5;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

.switch .slider:after {
content: '';
color: white;
display: block;
position: absolute;
top: 7px;
left: 10px;
font-size: 14px;
font-weight: 400;
}

input:checked + .slider {
background-color: #666f89;
content: "";
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(66px);
-ms-transform: translateX(66px);
transform: translateX(66px);
}

input:checked + .slider:after{
content: "ON";
}

/* Rounded sliders */
.slider.round {
border-radius: 54px;
}

.slider.round:before {
border-radius: 50%;
}


/*-------------- MEDIA QUERIES---------------- */

@media (min-width: 768px) {
  .searchbox input {
    width: 90%;
    padding: 0 20px;
    margin-left: 5%;
  }

.searchbox .fa-search {
    position: absolute;
    top:30px;
    right:70px;
    color: #cacbd5;
  }
}

.public-settings .switch {
  margin-left: 95px;
}


@media (min-width: 1024px){
header {
display: block;
}

.dashboard-head {
display: inline-block;
}

.dashboard-left{
float: left;
}

.dashboard-right{
float: right;
display: inline-flex;
}

.badge {
border-top: none;
}

.members {
  border-bottom: none;
}

.columns {
display: flex;
}

.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.container > * {
    flex: 1 100%;
  }

.aside-1,
.aside-2 {
    flex: 1 auto;
  }

nav {
  padding: 0;
}

nav ul{
    flex-flow: column nowrap;
    width: 100px;
  }

.icon-menu ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.icon-menu li {
  padding-top: 20px;
  padding-left: 35px;
}

.icon-menu li:hover {
  fill: #ffffff;
  border-left: 5px solid #d55e2d;
  border-bottom: none;
}

.icon-menu ul {
  display: flex;
  justify-content: flex-start;
}

.searchbox  {
  width: 80%;
}

.searchbox input {
  width: 50%;
  float: right;
  border: 1pt solid gray;
  border-radius: 5px;
  padding: 20px;
  height: 50px;
  margin-right: 40px;
  margin-top: 15px;
}

.searchbox  {
  border-bottom: 1pt solid gray;
  border-left: 1pt solid gray;
  /* border-right: 1pt solid gray; */
}

.searchbox .fa-search {
  right:55px;
}

.title {
  width: 20%;
}

.traffic ul li {
  margin: 0 10px;
}

.column-left,
.column-right {
  width: 50%;
}

.column-left {
  border-right:1px solid gray;
}

.column-right {
  border-bottom: none;
  border-top:1pt solid gray;
}

.twitter,
.facebook,
.googleplus {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.numbers {
  font-size: 50px;
}

.sm-header {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #d55e2d;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sm-cards {
    flex: 1 auto;
    margin: 20px;
  }


}
