
// Descriptive color variables

$white              : #fff;
$black              : #000;
$xlt-gray           : #f8f8f8;
$lt-gray            : #cacbd5;
$orange             : #d55e2d;
$gray               : #808080;
$med-gray           : #666f89;
$dk-gray            : #3d4252;


// Functional color variables

$color-prim         : $orange;
$color-sec          : $dk-gray;
$color-ter          : $med-gray;

$color-text-light   : $white;
$color-text-base    : $dk-gray;

$color-border       : $gray;

$color-link-default : $dk-gray;
$color-link-visited : $dk-gray;


// Media Query Breakpoints

$brk-med : 768px;
$brk-large   : 1024px;
