
// Descriptive color variables

$white              : #fff;
$black              : #000;
$xlt-gray           : #f8f8f8;
$lt-gray            : #cacbd5;
$turquoise          : #2fbccb;
$gray               : #808080;
$med-gray           : #666f89;
$dk-gray            : #3d4252;
$blue               : #273daa;
$lavendar           : #d2d5e6;
$periwinkle         : #516fe1;

// Functional color variables

$color-prim         : $turquoise;
$color-sec          : $periwinkle;
$color-ter          : $blue;

$color-text-light   : $white;
$color-text-base    : $dk-gray;

$color-border       : $gray;

$color-link-default : $dk-gray;
$color-link-visited : $dk-gray;


// Media Query Breakpoints

$brk-med : 768px;
$brk-large   : 1024px;
